<?xml version="1.0" encoding="UTF-8"?>
<data>
   <videos>
     <video order="0">
       <title><![CDATA[Cooler locked me in his basement]]></title>
       <url><![CDATA[https://zombiepvz.github.io/gamezone/CRAZYMOVIES!!/tpir.flv]]></url>
       <images>
         <image id="still"><![CDATA[assets/images/videos/chase_th.jpg]]></image>
         <image id="thumbnail"><![CDATA[assets/images/videos/chase_th.jpg]]></image>
       </images>
     </video>     	</videos>
</data>



